button{
    width: 250px;
    height: 80px;
    font-size: 35px;
    font-weight: bold;
    color: green;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}
button:hover{ background-color: grey; }
.buton-clic{ background-color: blue; }
.buton-Reiniciar{ background-color: blueviolet;}